pytest==5.3.4
simplejson==3.17.0
semver==2.9.0
pyserial==3.4
pyyaml==5.3
prometheus-client==0.7.1
requests==2.22.0
# temporary, replaces invoke==1.3.0 in favour of https://github.com/pyinvoke/invoke/pull/661
git+https://github.com/flazzarini/invoke.git
