# http://editorconfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.yml,*.tmpl]
indent_style = space
indent_size = 2
